<div class="row">
  <div class="col-md-11">
    <div class="newq btn btn-primary">
      <%= link_to 'Post new question', new_question_path %>
    </div>
  </div>
</div>

<% @questions.each do |question| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>
        <%= link_to question do %>
        <%= question.title %>
        <% end %>
        by <%= question.user.name %>
      </h3>
    </div>
  </div>
<% end %>


