<% @questions.each do |question| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>
        <%= link_to question do %>
          <strong><%= question.title %></strong>
        <% end %>
        by <%= question.user.name %>
      </h3>
    </div>
  </div>
<% end %>

<br>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= link_to 'New Question', new_question_path %>
  </div>
</div>
