	<div class="max-width has-padding">    
    <h1>Posting guidelines</h1>
    <ol>
      <li>Post troubleshooting questions in the 'Discussion' section below the video, not here.</li>
      <li>Asking for help with a customization or feature is OK. Pasting a large block of code and saying it doesn't work is not.</li>
      <li>Elaborate in detail, so we can better help you!</li>
    </ol>

		<%= render 'form' %>

	</div>
