<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @recipient_name %>, this is just a friendly reminder that your access to BaseRails has expired. If you want to re-enable access, go to <%= link_to "baserails.com/subscribe", "https://baserails.com/subscribe" %> and resubscribe.</p>
    <p>Thanks for being a BaseRails user and let us know if you have any questions.</p>
  </body>
</html>