<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @recipient_name %>, just wanted to let you know that <%= @commenter_name %> replied to your comment:</p>
    <%= %Q["#{@body}"] %>
    <p>View the thread <%= link_to "here", @url %></p>
  </body>
</html>