<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @recipient_name %>,</p>
    
    <p>We're having trouble processing your subscription payment. Our payment processor didn't give us many details, but it could be because your card expired or perhaps you forgot to pay off your balance. We've paused your subscription for now, but to re-enable access, just go to <%= link_to "baserails.com/subscribe", "https://baserails.com/subscribe" %> and update your card.</p>
    
    <p>Please let us know if there's anything we can do to help!</p>
  </body>
</html>