<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @recipient_name %>,</p>
    
    <p>This is a confirmation email that your BaseRails subscription has been cancelled. You won't be charged again and will continue to have access until the end of your billing cycle. If you change your mind, you can always reactivate your subscription by heading over to <%= link_to "baserails.com/subscribe", "https://baserails.com/subscribe" %>. If you didn't unsubscribe or have any questions about this, please let us know and we'll be happy to help.</p>
    
    <p>Thanks for being a member - we appreciate it and would love to hear your feedback on your BaseRails experience.</p>
    </p>
  </body>
</html>