<div class="comment-form">
  <%= form_for([chapter, new_comment], :remote => true) do |f| %>
    <div class="form-group">
      <%= f.label "Post a comment" %>
      <%= f.text_area :body, :input_html => { :rows => "2" }, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.button :Submit, :class => "btn btn-primary",
          data: { disable_with: "Submitting…" } %>
    </div>
  <% end %>
</div>