<section class="aboutus">
	<div class="max-width has-padding">
		<h1>Hello and welcome to BaseRails!</h1>
		<p>First of all, congratulations on learning to implement your startup ideas, most people never even make it there.</p>
		<p>Here at BaseRails, we think of building web apps as working on a 100,000-piece jigsaw puzzle. There are tiny pieces strewn everywhere and you have no clue where to even start. BaseRails will serve as an instruction manual on how to put all those puzzle pieces together.</p>
		<p>We're a team of self-taught developers and we take a more practical approach to learning than most traditional classes. Our goal is to get you up to speed faster and save you months of time in building your websites.</p>
		<p>We believe that feedback and support are crucial to self-learning which is why we’ll do our best to respond to emails within 24 hours. You can reach our instructor at alex@baserails.com.</p>
		<p>By the end of this course, you’ll have the ability to apply what you’ve learned toward implementing any idea of your own. You'll finally be able to build a product that actually works.</p>
		<p>Good luck and happy building!</p>
	</div>
		<div class="team">
			<div class="container">
		     <h1 class="max-width">Our Team</h1>

		    <div class ="col-md-5 long">
		      <div class="row">
		        <div class="col-md-6">
		          <div class="thumbnail">
		            <%= image_tag "https://dl.dropboxusercontent.com/s/j1aiq616595df0d/alex.jpg" %>
		          </div>
		        </div>
		        <div class="col-md-6">
		          <div class="thumbnail name">
		            <h2>Alex Yang</h2>
		            <h3>Instructor</h3>
		          </div>
		        </div>
		      </div>
		      <div class="row big">
		        <p>Alex spent 4 years at Harvard studying math, then 2 years at the Boston Consulting Group studying PowerPoint.<br><br>
		          He taught himself to code by wading through coding exercises, programming books, and online tutorials before realizing there was a better way.<br><br>Currently, he's working on further building out the BaseRails curriculum and developing content for Codecademy to teach British kids to program.
		        </p><br>
		      </div>
		    </div>

		   	<div class="col-md-5 long">
		      <div class="row">
		        <div class="col-md-6">
		          <div class="thumbnail">
		            <%= image_tag "https://dl.dropboxusercontent.com/s/9u279iingo4jg5y/susie.jpg" %>
		          </div>
		        </div>
		        <div class="col-md-6">
		          <div class="thumbnail name">
		            <h2>Susie Ye</h2>
		            <h3>Producer</h3>
		          </div>
		        </div>
		      </div>
		      <div class="row big">
		        <p>Susie comes from a medical background, but after completing a startup accelerator program, she realized she needed to work on her technical skills.<br><br>She became Alex's first student for BaseRails and has since learned front-end web development as well.<br><br>She previously taught a course at DUMBO Incubator NYC to help students learn the customer development methodology.
		        </p><br><br>
		      </div>
		    </div>

		  </div>
		</div>
	</div>
</section>