<section class="faq">
  <div class="max-width has-padding">
    <header class="section-header">
      <h1>FAQ</h1>
    </header>
    <div class="faqbody">

      <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                What makes this course different than the other online tutorials?
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <p>We are the only online video learning platform that focuses exclusively on content that walks students through building fully functional web apps.</p>
              <p>Other methods have a heavy focus on understanding syntax and grasping computer science concepts. However, few students actually progress from this to building functional apps on their own.</p>
              <p>The end result is that millions of students start learning how to code, but few end up with something to show for their efforts.</p>
              <p>We make sure that students finish our course with a product they can either turn into a business or add to their portfolio.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                What project will we be building throughout the course?
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Our pilot course will walk you through building an online marketplace similar to Etsy. You will learn to develop functionalities common to many websites including:</p>
              <ul>
                <li>Upload product listings complete with prices, descriptions, and images</li>
                <li>Create user accounts and login to see personalized dashboards</li>
                <li>Implement powerful design features with CSS</li>
                <li>Accept credit card payments and initiate transfers to third-party bank accounts</li>
                <li>Secure your sensitive account data</li>
                <li>Deploy your website live</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
                What practical skills will I have learned after the course?
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
             <p>We'll learn to use the latest versions of popular technologies. We’ll be working with Ruby on Rails, as well as front-end tools like Twitter Bootstrap and CSS. We’ll touch upon databases with SQLite; APIs with Stripe; and even hosting platforms such as GitHub, Heroku, and Dropbox.</p>
             <p>Along the way, you’ll learn how to create a new app, implement features, read documentation, and deploy an app. These skills are useful for prototyping your own ideas or building up your code portfolio.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
                Is this course for beginners? Do I need prior knowledge of coding?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Not at all. We assume all our students have never written a single line of code before.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive">
                What support do you offer if I run into problems?
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <p>We help you with troubleshooting through email and gchat. Please send us a screenshot with the error message as well as your code. We respond to all questions within 24 hours.</p>
              <p>We also have in-person meetup groups for troubleshooing help in the LA/OC area. Find us at <a href="http://www.meetup.com/baserails-irvine">BaseRails Meetup Group</a><p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSix">
                What happens after I finish the course?
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              <p>We recommend going back and personalizing the content for your own vision. Don’t forget to send us an update with your project as we love hearing from our students. </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 976333359;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/976333359/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

