<!-- <section class="method">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="well well-sm center">
          <h3>Never coded before? No problem.</h3>
          <p>We make learning to code as painless as possible by teaching you in plain English, not @!%[]</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="well well-sm center">
          <h3>Learn in layers.<br><br></h3>
          <p>You’ll work on a real web project right away by learning the fundamentals first, followed by cool features down the road.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="well well-sm center">
          <h3>Freedom to prototype any web app you want.</h3>
          <p>We guarantee you’ll be able to build any web prototype of your own by the end of our course.</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="summary">
  <div class="max-width has-padding clearfix">
    <header class="section-header">
      <h1>Master new skills by diving into a web project.</h1>
    </header>
    <div class="course-takeaways">
      <div class="course-takeaway">
        <div class="a">
          <%= image_tag "webstore.png" %>
        </div>
        <p>Prototype and build your own web ideas from scratch</p>
      </div>
      <div class="course-takeaway">
        <div class="b">
          <%= image_tag "rails.png" %>
        </div>
        <p>Learn the fundamentals of Ruby on Rails, Twitter Bootstrap, and other powerful tools</p>
      </div>
      <div class="course-takeaway">
        <div class="c">
          <%= image_tag "smile.png" %>
        </div>
        <p>Think and contribute like a technical team member</p>
      </div>
    </div>
  </div>
</section>

<section class="testimonials">
  <div class="container">
    <div class="center">
      <h3>Testimonials</h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="well well-sm">
          <h3>Text here</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ourstory">
  <div class="container">
    <div class="center">
      <h3>Our Story</h3>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="well well-sm">
          <h3>Text here</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well well-sm">
          <h3>Text here</h3>
        </div>
      </div>
    </div>
  </div>
</section>