<section class="info">
	<div class="container">
		<header class="center">
			<h1>Bring your ideas to life.</h1>
			<h2>BaseRails helps you develop the skills to build web apps with our comprehensive three-step process, no fluff, just results.</h2>
		</header>
	</div>
</section>