<div class="row">
  <div class="center">
    <h2>This is the Library Sell page</h2>

    <%= link_to "Pay", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Back to Info Page", info_path, class: "btn btn-primary" %>
  </div>
</div>

