<section class="modules">
	<div class="max-width has-padding">
		<div class="well module-header col-md-11">
			<div class="well-topper">
				<a href="/library">Library</a>
				<i class="icon-chevron-right"></i>
				<a href="#">Build an online marketplace</a>
				<i class="icon-chevron-right"></i>
				Get Up and Running
			</div>
			<div class="row">
				<div class="col-md-11 module-header">
					<i class="icon-th-large"></i>
					<h4>Get Up and Running</h4>
					<p>In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.  From the business side we use recon for a variety of reasons, including finding physical addresses, locations, personal information about our target and more.

					On the network side, we use a technological approach.  Network mapping, and probing techniques combine with search engine hacking to give us the best possible picture of our targets.  Each of these information gathering tactics is extremely useful in what is commonly one of the first steps in a penetration test as well as an attack.  This lesson with teach all you need to know about reconnaissance and the true value of information.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="well module-content col-md-11">
				<div class="well-topper">
					3 modules		
				</div>
				<ul class="module-item-list">
					<li class="module-item">
						<div class="row">
							<div class="col-md-10 module-list-row">
								<h5>Course Introduction</h5>
								<p class="module-summary module-summary-wide">The first step to good reconnaissance is to understand the nature of the business that you're targeting.  Beyond just what they do, you need to know who they are, how they do it, and ultimately what technologies they use that you may be able to break in to.</p>
							</div>
							<div class="cold-md-2">
								<a href="/module/business-intelligence"><i class="icon-play-circle module-item-icon"></i></a>
							</div>
						</div>
					</li>
					<li class="module-item">
						<div class="row">
							<div class="col-md-10 module-list-row">
								<h5>Installation for Mac Users</h5>
								<p class="module-summary module-summary-wide">The first step to good reconnaissance is to understand the nature of the business that you're targeting.  Beyond just what they do, you need to know who they are, how they do it, and ultimately what technologies they use that you may be able to break in to.</p>
							</div>
							<div class="cold-md-2">
								<a href="/module/business-intelligence"><i class="icon-play-circle module-item-icon"></i></a>
							</div>
						</div>
					</li>
					<li class="module-item">
						<div class="row">
							<div class="col-md-10 module-list-row">
								<h5>Installation for Non-Mac Users</h5>
								<p class="module-summary module-summary-wide">The first step to good reconnaissance is to understand the nature of the business that you're targeting.  Beyond just what they do, you need to know who they are, how they do it, and ultimately what technologies they use that you may be able to break in to.</p>
							</div>
							<div class="cold-md-2">
								<a href="/module/business-intelligence"><i class="icon-play-circle module-item-icon"></i></a>
							</div>
						</div>
					</li>
				</ul>
			</div>	
		</div>	
		<h2><%= link_to library_path do %>
            <i class="glyphicon glyphicon-arrow-right"></i> Go to next chapter
         <% end %><h2>
	</div>
</section>