<div class="container">
  <div class="center">
    <h2>BaseRails Pricing Options</h2>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="center">
        <h3>Select the Silver Plan</h3>
        <%= link_to "Silver Plan", new_user_registration_path(plan: "silver") %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="center">
        <h3>Select the Gold Plan</h3>
        <%= link_to "Gold Plan", new_user_registration_path(plan: "gold") %>
      </div>
    </div>
  </div>
</div>

