<section class="stories">
	<div class="max-width has-padding">
		<header class="center">
			<h1>Student Stories</h1>
		</header>
		<div class="story1">
			<div class="row">
				<div class="col-md-9">
					<%= link_to image_tag("https://dl.dropboxusercontent.com/s/xgp8xx2nprb5mcx/fleamarket.png"), "http://fleamarket-kw.herokuapp.com/" %>
				</div>
				<div class="col-md-3">
					<ul>
						<li><span class="category">Name:</span> <br> Szabolcs Toth</li>
						<li><span class="category">Background:</span><br> Mechanical Engineering</li>
						<li><span class="category">Current:</span><br> Technical Sales Consultant</li>
						<li><span class="category">Project Name:</span> fleaMarketKW</li>
						<li><span class="category">URL: </span> <br><%= link_to "http://fleamarket-kw.herokuapp.com/", 'http://fleamarket-kw.herokuapp.com' %></li>
					</ul>
				</div>
			</div>
			<p>Szabolcs Toth is a resident of Kuwait, a small country in the Gulf region with a population of just under 4 million people. It’s the fifth richest country in the world by per capita income and has a long history of attracting expats to help run the local businesses. </p>

			<p>Although some expats end up a “lifer” and stay for 30+ years, most expats have an expiration time and leave in as short as six months. As with all relocation, there comes the hassle of packing up one’s life and getting rid of the nonessentials.</p>

			<p>In his day-to-day routine, Szabolcs saw a constant stream of advertisements for furniture and personal belongings in local news sources. Most of the ads were simply photos pasted into a Word or Powerpoint document and advertised in newsletters. However, these were difficult to circulate due to the size of the documents.</p>

			<p>Szabolcs envisioned a way for people to post their used belongings up for sale on an online flea market, providing an ecommerce channel to sell and trade used goods. Thus, the vision for fleaMarketKW was born. </p>

			<p>Although Szabolcs had been ruminating over this idea for many years, he was only recently able to build out an MVP for the idea. He began learning to program with Ruby in 2009 and spent his nights coding scripts as a hobby. While he knew enough to build functional programs, he didn’t understand how to architect a complete Rails app and connect the separate structures.  </p>

			<p>When he came across BaseRails, he gave himself the challenge of bringing his flea market idea to life in one month. “I felt that I had many small islands and [BaseRails] built the bridges among them, this is how small pieces of information became ‘knowledge’”, says Szabolcs. He was most attracted to the idea of learning to build a full-featured online marketplace, particularly with Dropbox integration. </p>

			<p>After completing the course, Szabolcs now understands the process of building a web app and the connections between each database model. He can independently add specific gems and read technical documentation to implement additional features for his website. Szabolcs has developed one of the most important skills an entrepreneur can have--the ability to hack together a working prototype for any idea. </p>

			<p>His next steps? “Of course, I would like more and more people to use it,” he says. “I know creating awareness around your project is not easy, but I’m not giving up.” For most people, the hardest part of bringing an idea to life is the technical barrier. However, that’s really just the beginning. Szabolcs has succeeded in building a barebones MVP for fleaMarketKW, which is hugely rewarding in itself, but he’s just starting the groundwork of testing it with real users. </p>

			<p>Szabolcs’s parting advice to aspiring entrepreneurs: “I was patient and that helped me a lot. I tried and failed many times and always decided that this would be the last. After months, I started again and again. Finally I did it.”
			</p>

			<p>---</p>

			<p>Want your project to be featured? We'd love to hear more - email us at <%= link_to "editorial@baserails.com", "editorial@baserails.com!" %>!</p>

			<%= link_to "Read more testimonials", testimonial_path, class: "btn btn-lg btn-link", data: { no_turbolink: true } %>
		</div>
	</div>
</section>