<section class="testimonial">
	<div class="max-width has-padding">
    <header class="section-header center">
      <h1>Read Our Students' Stories</h1>
    </header>
	    <div class="user">
	    	<p>"I just finished your course, and I loved every minute of it. It's amazing how much I've learned in just a couple of days, and I'm excited to continue learning more and applying the skills I gained from watching your videos. I wanted to thank you for all your hard work in designing the course and for sharing your knowledge and experience. I look forward to more courses from you in the future.<br><br>
				I highly recommend this course to anyone looking to jump into web development with Ruby on Rails for the first time, whether as someone who has not developed websites before or someone who is curious to learn more about Ruby on Rails. The course is rich with content and provides a great high-level introduction to working with a variety of development topics such as Rails 4, Bootstrap 3, Heroku deployment, Git, etc. Alex is a fantastic instructor, and it is apparent that a lot effort went into preparing each lesson so that they are well paced and build upon each other nicely."</p>
				<h2>Matthew Farmer</h2>
	    </div>
	     <div class="user">
	    	<p>"I've had some previous coding experience (Python, Html, CSS, Javascript/jQuery) although, very basic. At first I was going to go the Python/Django route and learned a bit of Python from “Learn Code the Hard Way”, Codeacademy, some Stanford/Harvard resources, Udacity and Udemy. For Rails I've gone through some of Code School and Michael Hartl's ebook. But this was awhile ago.<br><br>
				I've decided to try to learn Rails again although it was quite frustrating at the time. I mean, I liked some of these resources but a lot of the time, it was very frustrating because they would tell me to do things and I wouldn't know why I was doing it. I think that was the biggest issue for me. Also, many of these resources seemed very fast even though it was meant as "a beginner course." Lastly, I didn't feel like I was doing anything by learning. For example, I wanted to create a web app but I felt like I needed to learn HTML/CSS/Javascript/jQuery first. Then I needed to learn Ruby or Python and then Rails or Django. Plus, Git, Heroku, text editors, command line, databases etc. It seemed like there was a huge learning curve in order to make one simple web app. I don’t know, it was all a bit confusing.</p>
				<p>Anyway, what I like about your lessons are: </p>
					<ul>
						<li>You explain WHY I'm doing what I'm doing; sometimes code looks confusing but again you explain why I'm taking this action</li>
						<li>You go slow/fast enough (it's a good speed)</li>
						<li>You have all the code and links in your transcript and notes</li>
						<li>Video lessons vs book (you can see it in action)</li>
						<li>Good voice (it's more important than people think)</li>
					</ul>
				<p>Thanks for the great course, it's much better than what's out there and I wish the best for you and your team."</p>
				<h2>Daniel Ahn</h2>
	    </div>
	    <div class="user">
	    	<p>"I thoroughly enjoyed every single moment during each session and couldn't wait to start the next. I had no experience with Ruby on Rails but was very eager to learn. Alex's style lent itself to a calm and informational pleasure to assimilate and retain. Each step of this complete process is well thought out and clearly defined, leaving no room for huge errors. The errors I had encountered were due to my fat fingers (syntax errors). I personally and wholeheartedly recommend this course for anyone who wants to jump in with both feet and learn as you go by creating an actual application that you can use and or modify for your own use. I have taken a lot of different courses and Alex by far is the most patient and knowledgeable that I have encountered; he will also go that extra mile to help his students. What are you waiting for?"</p>
				<h2>William Peterson</h2>
	    </div>
	    <div class="user">
	    	<p>"I also bought other tutorials on Rails earlier and found yours to be project-oriented and straight to the point. You don't waste so much time coding but instead show the way how things can be created as the final outcome, which I really admire, especially that your explanations are easy to understand. I really enjoyed all your lectures. I would try to revisit each of your lectures and listen to them over and over until I get a grasp of the subject.<br><br> FYI, I decided to study Rails because I am planning to convert my existing blog sites using Ruby on Rails. I created them in Wordpress and found to be very limited. Just an example, I have this blog www.ifixiteasy.com which I am planning to make as a blog and at same time showcase the products that I have for sale within those relevant free tutorials that I also offer to my subscribers. Again, thank you for a very informative course and I wish you more success in your future courses."</p>
				<h2>Michael Jardinico</h2>
	    </div>
	    <div class="user">
	    	<p>"I’m looking forward to diving in here - the scope/angle of this course seems perfectly tailored to what I'm looking for. From the looks of it so far, your course is similar in scope to Hartl's book, but takes a far more practical, hands-on approach - also it helps a great deal to see it in action vs. trying to follow along with just a book.<br><br>My goal right now is a very specific idea that I've been toying with for some time.
				I've worked through various tutorials/books but found it very difficult to learn Rails so generally when really I just want my ideas to be realized as quickly as possible. I do have a degree in computer science and so coding is not new to me, but my courses were all highly theoretical (specialization in cognitive science) and so building applications is quite new to me. Anyhow, thanks again for putting this together.</p>
				<h2>Chris Staikos</h2>
	    </div>
	    <div class="user">
	    	<p>"Thanks to Alex, I created my own demo website and deployed to Heroku in 2 days. He explained eveything you need when you start Ruby on Rails: installing gems, facing problems on Ruby, creating lists, bootstrap designs, uploading images, Git version control, deploying on Heroku, etc. I'm waiting for more lectures/courses from Alex."</p>
	    	<h2> Volkan Gürol</h2>
	    </div>

	</div>
</section>

<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 976333359;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/976333359/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
