<div class="container">

    <h3>Thanks for signing up! Here are a few things to keep in mind before you get started:</h3>
    <li>
      <ul>Bullet</ul>
    </li>
  <div class="center">
    <%= link_to "Get started!", chapters_path, class: "btn btn-primary" %>
  </div>
</div>