<section class="coursedashboard">
  <div id="course">
    <div class="max-width has-padding">
      <div class="row">
        <div class="col-md-6">
          <div class="ribbon-wrapper-orange">
            <div class="ribbon-orange">NEW</div>
          </div>

          <div class="thumbnail center">
            <%= image_tag "https://dl.dropboxusercontent.com/s/0vgj1y5s792zyt1/restauranticon.png", id: "icon" %>
            <h3 class="track-header2 center">Build a restaurant review <br>aggregator like Yelp</h3>
            <p class="track-description2 center">Learn Ruby on Rails by building a site for people to browse and add reviews for restaurants. Allow people to search and rate local eateries.</p>
            <div class="center">
              <%= link_to "Go to course", course_path(2), class: "btn btn-default b center" %>
            </div>
          </div>
          </div>
            <div class="col-md-6">
              <div class="thumbnail center">
                <%= image_tag "https://dl.dropboxusercontent.com/s/yqwyf808udsqx66/shoppingcart.png" %>
                <h3 class="track-header1 center">Build a two-sided<br> marketplace like Etsy</h3>
                <p class="track-description1 center">Learn Ruby on Rails by building an online marketplace like Etsy or Airbnb from scratch. Connect two parties through your platform.</p>
                <div class="center">
                  <%= link_to "Go to course", course_path(1), class: "btn btn-default a center" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  mixpanel.track("Courses Dashboard");
</script>
