<div class="sidebar">
  <% sections = chapters.sort_by(&:id).to_a.map { |c| c.section }.uniq %>

  <% sections.each_with_index do |section, index| %>
    <h4><%= "#{index+1}. #{section}" %></h4>

    <% subchapters = (chapters.select { |c| c.section == section }).sort_by(&:id) %>

    <% subchapters.each do |subchapter| %>
      <h5><%= link_to "#{subchapter.title}", chapter_path(subchapter) %></h5>
    <% end %>
  <% end %>
</div>

<% if current_user.try(:admin?) %>
  <br>
  <%= link_to 'New Chapter', new_chapter_path, class: "btn btn-primary" %>
<% end %>