<div class="row">
  <div class="center">
    <h1>Browse our catalog of video tutorials</h1>
  </div>
</div>

<% @videos.each do |video| %>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <%= link_to image_tag("https://dl.dropboxusercontent.com/s/pfvdfdyrkt47rut/ebaybw.png"),
            chapter_path(video.id) %>
      </div>
    </div>
    <div class="col-md-6">
      <h3><%= video.title %></h3>
      <p>In this video tutorial, we'll see how to use the Google Maps API to add an interactive map to our web application.</p>
    </div>
    <div class="col-md-2">
    </div>
  </div>
<% end %>