/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

  .jumbotron {
  	background-image: url('chalk.jpg');
  	background-size: cover;
  	background-position: top center;
  	background-repeat: no-repeat;
  	height: 450px;
  }

  .jumbotron .container {
 	width: 500px;
 	float: left;
 	margin: 70px 80px;
  }

  .jumbotron .container h2 {
  	color: white;
  }

  .jumbotron .container h3 {
  	color: white;
  }
