.show .sidebar {
	margin-top: 40px;
	margin-left: 20px;
}

.show .sidebar a {
	color: #5e5e5e;
}

.show .sidebar a:hover {
	text-decoration: none;
	font-weight: 600;
}

.show .sidebar h4 {
	padding-top: 10px;
}

.show .btn-primary {
	margin-left: 20px;
}

.show .nav-tabs > li > a {
	color: #5e5e5e;
}

.index .sidebar {
	margin-top: 40px;
	margin-left: 20px;
}

.index .sidebar a {
	color: #5e5e5e;
}

.index .sidebar a:hover {
	text-decoration: none;
	font-weight: 600;
}

.index .sidebar h4 {
	padding-top: 10px;
}

.index .btn-primary {
	margin-left: 20px;
}

.index .nav-tabs > li > a {
	color: #5e5e5e;
}

.index .col-md-9 h3 {
	margin-top: 70px;
}


.codeblock {
	margin: 12px 0;
	clear: both;

}

.codeheader {
	position: relative;
	background-color: #cecece;
	font-size: 14px;
	padding: 4px 7px;
	border: solid 1px #b6b6b6;
	border-bottom: none;
}

.coderay {
	font-family: "Menlo","Courier New","Terminal",monospace;
	background-color: #232323;
	color: #E6E0DB;
	overflow: auto;
	border: 1px solid #777;
	border-top: none;
	padding: 5px 7px;
	font-size: 13px;
	margin: 0;
	line-height: 17px;
}

.coderay pre {
	margin: 0px;
	padding: 0px;
	font-family: "Menlo","Courier New","Terminal",monospace;
	background-color: #232323;
	color: #E6E0DB;
	font-size: 13px;
	line-height: 17px;
	border: none;
}

