@import "bootstrap";

body, h1, h2, h3, h4, h5 {
  font-family: 'Open Sans',sans-serif;
}

.center {
  text-align: center;
}

.sidebar {
  background-color: #f4f3ee;
  padding: 10px;
  border-radius: 5px;
}

.sidebar a {
  padding-left: 20px;
}

.navbar {
	margin-bottom: 0px;
	border: none;
	border-radius: 0px;
}

.navbar-default {
  background-color: #f4f7fc;
  border-bottom: 1px solid rgba(0,0,0,.1);
	border-radius: 0px;
  padding: 25px 130px 5px 130px;
  margin-bottom: 0px;
}

.navbar-header {
  p {
    font-size: 15px !important;
    font-weight: 600 !important;
    color: #5b5b5b !important;
    font-family: 'Open Sans',sans-serif;
  }
}

@media only screen and (min-width : 320px) and (max-width : 770px) {
  .navbar-header {
    p {
/*      font-size: 12px !important;
*/      overflow: hidden;
      float: left;
      text-align: left;
      display: block;

    }
    .navbar-brand {
      display: inline-block;
      margin: 0 auto;
      float: left;
      overflow: hidden;
    }
  }
  .navbar-default .navbar-toggle {
    display: none;
  }
  .navbar {
      padding: 15px 70px 15px 60px;
  }
}

@media only screen and (min-width : 770px) and (max-width : 1140px) {
  .navbar-left {
    display: none;
    padding: 15px 200px 15px 100px;
  }
}

@media only screen and (min-width : 500px) and (max-width : 770px) {
  .navbar-header {
    p {
      padding-top: 18px;
    }
  }
}

.navbar-default .navbar-nav {
  margin-top: 3rem;
  margin-left: 5rem;
}

.navbar-right {
  margin-top: 3rem;
}

.navbar-default .navbar-brand {
	color: #5b5b5b;
  font-size: 45px;
  font-weight: 600;
  font-family: "Mistral";
}

.navbar-default .navbar-brand:hover {
  color: #5b5b5b;
}

.navbar-default .navbar-nav > li > a {
	color: #48505e;
  font-size: 16px;
  font-family: 'Open Sans',sans-serif;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #5b5b5b;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus, {
  background-color: #fdfdfb;
  color: #7b7b7b;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #5b5b5b;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #7b7b7b;
}

.dropdown-menu {
  min-width: 120px;
  background-color: #fdfdfb;
  border: none;
}

.dropdown-menu > li > a {
  color: #5b5b5b;
}

.dropdown-menu > li > a:hover {
  background-color: #fdfdfb;
  color: #7b7b7b;
}


.panel-default > .panel-heading {
	border: none;
}

.panel-heading {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.maincontainer {
  margin-top: 50px;
}

.panel-footer a {
  color: #5e5e5e;
}

.alert-info {
  margin-bottom: 0px;
  padding: 5px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.row {
  margin: 0px;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.codeblock {
  margin: 12px 0;
  clear: both;
}

.codeheader {
  position: relative;
  background-color: #cecece;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 7px;
  border: solid 1px #b6b6b6;
  border-bottom: none;
  p {
    margin-bottom: 0px;
  }
}

.coderay {
  font-family: "Menlo","Courier New","Terminal",monospace;
  background-color: #232323;
  color: #E6E0DB;
  overflow: auto;
  border: 1px solid #777;
  border-top: none;
  padding: 5px 7px;
  font-size: 13px;
  margin: 0;
  line-height: 17px;
}

.coderay pre {
  margin: 0px;
  padding: 0px;
  font-family: "Menlo","Courier New","Terminal",monospace;
  background-color: #232323;
  color: #E6E0DB;
  font-size: 13px;
  line-height: 17px;
  border: none;
}

.moreinfo {
  h3 {
    padding: 70px 10px 30px 10px;
    color: #5b5b5b;
    font-weight: 400;
  }
  .check {
    list-style: none;
  }
  li {
    padding: 10px 3px;
    color: #5b5b5b;
    font-family: "Helvetica neue";
    font-size: 17px;
  }
  img {
    width: 60px;
    height: 50px;
    margin-right: 20px;
  }
  .onequote {
    padding: 10px 20px;
    margin-left: 30px;
    margin-top: 40px;
/*    border-top: 1px solid #333;
*/  }
  .quote {
    color: #5b5b5b;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
  .name {
    text-align: right;
    color: #5b5b5b;
    font-weight: 400;
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 180px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 180px;
    width: 100%;
}

footer {
  background-color: #253341;
/*  background-color: #2d2d2d;  
*/  .footer-links {
    a {
      color: #e5e5e5;
      font-size: 15px;
      margin: 0px 20px;
      text-transform: uppercase;
    }
    a:hover {
      text-decoration: none;
      color: #fff;
      font-weight: 500;
    }
  }
  .container {
    margin-top: 4rem;
  }
  p {
    color: #e5e5e5;
    margin-top: 20px;
  }
  .social {
    margin-top: 20px;
    img {
      margin: 0px 5px;
    }
  }
}

.signbtn {
  margin-top: 0px !important;
}


