@import "bootstrap";

.center {
  text-align: center;
}

.sidebar {
  background-color: #EAF1F1;
  padding: 10px;
  border-radius: 5px;
}

.sidebar a {
  padding-left: 20px;
}

.sidebar iframe {
  margin-top: 40px;
}

.navbar {
	margin-bottom: 0;
	border: none;
	border-radius: 0px;
}

.navbar-default {
	background-color: black;
	border: none;
	border-radius: 0px;
  padding: 10px 45px;
}

.navbar-default .navbar-brand {
	color: #e5e5e5;
  font-size: 45px;
  font-family: "Mistral";
}

.navbar-default .navbar-brand:hover {
  color: #b7b7b7;
}

.navbar-default .navbar-nav > li > a {
	color: #e5e5e5;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #b7b7b7;
}

.jumbotron {
  background-image: url('https://s3.amazonaws.com/learnrails/images/chalk2.jpg');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  height: 500px;
  margin-bottom: 0px;
}

.jumbotron .container {
  width: 550px;
  float: left;
  margin: 70px 50px;
}

.jumbotron .container h2 {
  color: white;
  font-size: 50px;
}

.jumbotron .container h3 {
  color: white;
  line-height: 3rem;
}

.jumbotron .btn-lg {
  height: 60px;
  width: 300px;
}

.jumbotron .btn-success {
  font-size: 25px;
  padding-top: 10px;
}

.panel-default > .panel-heading {
	border: none;
}

.panel-heading {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.maincontainer {
  margin-top: 50px;
}

.panel-footer a {
  color: #5e5e5e;
}

.alert-info {
  margin-bottom: 0px;
  padding: 5px;
}

