.has-padding {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.max-width {
	max-width: 960px;
	margin: auto;
	position: relative;
}

//homepage

.projects {
	background-color: #f4f7fc;
	border-bottom: 1px solid #e8ebf0;
	padding-bottom: 6rem;
	height: 700px;
	#projects {
		margin-top: 50px;
		margin-left: 40px;
	}
	.section-header {
		max-width: 700px;
		padding: 10px;
		text-align: center;
		margin: 100px auto;
	}
	h1 {
		font-size: 40px;
		color: #48505e;
		font-family: 'Open Sans',sans-serif;
		line-height: 1.3;
		margin-bottom: 40px;
	}
	h2 {
		color: #48505e;
		margin: auto;
		padding-top: 10px;
		font-family: 'Open Sans',sans-serif;
		font-size: 23px;
		line-height: 1.5;
	}
	.marketplaceproject {
		margin: 70px 0px;
		.btn-success {
			background-color: #5b5b5b;
			color: #fff;
			border: none;
			font-size: 18px;
			padding: 15px 30px;
			font-family: 'Open Sans',sans-serif;
			font-weight: 600;
		}
		.btn-success:hover {
			background-color: #7b7b7b;
		}
		.btn-default {
			background-color: #253341;
			border: none;
			color: #fff;
			font-size: 18px;
			padding: 15px 40px;
			margin-right: 3rem;
			font-family: 'Open Sans',sans-serif;
			font-weight: 600;
		}
		.btn-default:hover {
			background-color: #2e4051;
		}
	}
}

.ideas {
	background-image: url(https://prismic-io.s3.amazonaws.com/wroom/b922df104d5af87cad5623a821595e7c62999806.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 105% auto;
	height: 320px;
	padding: 5em 11em;
	.container {
		width: auto;
	}
	header {
		h1 {
			font-size: 26px;
			font-family: 'Open Sans',sans-serif;
			color: #fff;
			margin-bottom: 3rem;
		}

		h2 {
			font-size: 18px;
			font-weight: 200;
			font-family: 'Open Sans',sans-serif;
			line-height: 1.6em;
			color: #fff;
		}
	}
}

.info {
	font-family: 'Open Sans',sans-serif;
	.line-shadow {
		background-color: #fff;
	}
	#course {
		background-color: #7b8f9d;
		padding: 8rem 0rem;

		.ribbon-wrapper-orange {
			width: 85px;
			height: 88px;
			overflow: hidden;
			float: right;
			margin-top: 45px;
		}
		.ribbon-orange {
			font: bold 12px Sans-Serif;
			color: #999;
			text-align: center;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			position: relative;
			padding: 6px 0;
			left: -6px;
			top: 18px;
			width: 120px;
			background-color: #e27500;
			background-image: -webkit-gradient(linear,left top,left bottom,from(#dc903d),to(#e27500));
			background-image: -webkit-linear-gradient(top,#dc903d,#e27500);
			color: #eee;
			box-shadow: 0 0 3px rgba(0,0,0,0.3);
		}
		#icon {
			margin-left: 100px;
		}

		h1 {
			font-size: 1.7em;
			font-family: 'Open Sans',sans-serif;
			color: #fff;
		}
		h2 {
			font-size: 1.8em;
			font-family: 'Open Sans',sans-serif;
			color: #48505e;
			margin-bottom: 1em;
		}
		h3 {
			font-size: 20px;
			line-height: 1.3em;
			font-family: 'Open Sans',sans-serif;
			color: #48505e;
			font-weight: 600;
		}
		p {
			font-size: 17px;
			color: #636365;
			margin: 20px 0px;
			line-height: 25px;
		}
		.thumbnail {
			border: none;
			padding: 30px 20px 20px 20px;
			margin-top: 45px;
			border: none;
		}
		.btn-default {
			padding: 15px 28px;
			width: 290px;
			font-size: 18px;
			font-weight: 600;
			color: #fff;
			border: none;
			background-color: #253341;
		}
		.btn-default:hover {
			background-color: #2e4051;
		}
	}
}

.steps {
	padding: 1rem 0rem 3rem 0rem;
	h1 {
		color: #48505e;
		margin-bottom: 40px;
		font-weight: 200;
		font-family: 'Open Sans',sans-serif;
		font-size: 26px;
	}
	h2 {
		color: #48505e;
		font-size: 20px;
		font-weight: 600;
		line-height: 1.2em;
		font-family: 'Open Sans',sans-serif;
	}
	p {
		color: #707685;
		font-size: 18px;
		font-weight: 200;
		line-height: 1.6em;
		font-family: 'Open Sans',sans-serif;
	}
	.thumbnail {
		padding: 7px 20px 7px 10px;
		border: none;
		border-radius: 0px;
		border-right: 1px solid #eaecf1;
		margin-right: -10px;
		height: 260px;
		img {
			margin-bottom: 30px;
		}
	}
	.apply {
		border-right: none;
	}
	.btn-default {
		background-color: #f4f7fc;
		border: 1px solid #ccdaf1 ;
	}
	.btn-default:hover {
		background-color: #ccdaf1;
	}
}

.membership {
	background-color: #7b8f9d;
	padding: 10rem 0rem 8rem;
	.col-md-5 {
		margin-left: 40px;
	}
	h1 {
		color: #fff;
		margin-bottom: 20px;
		font-weight: 200;
		font-family: 'Open Sans',sans-serif;
		font-size: 26px;
		margin-top: 60px;
		width: 450px;
	}
	p {
		color: #fff;
		font-size: 18px;
		font-weight: 200;
		line-height: 1.6em;
		font-family: 'Open Sans',sans-serif;
		width: 450px;
	}
	h2 {
		color: #707685;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.2em;
		font-family: 'Open Sans',sans-serif;
	}
	.thumbnail {
		margin-bottom: 10px;
		margin-right: -15px;
		padding: 15px 0px 10px 0px;
		background-color: #fff;
		border: none;
	}
}

.support {
	padding: 10rem 0rem 8rem;
	h1 {
		color: #48505e;
		margin-bottom: 20px;
		font-weight: 200;
		font-family: 'Open Sans',sans-serif;
		font-size: 26px;
		margin-bottom: 5rem;
	}
	p {
		color: #707685;
		font-size: 17px;
		font-weight: 200;
		line-height: 1.6em;
		font-family: 'Open Sans',sans-serif;
	}
	h2 {
		color: #48505e;
		font-size: 15px;
		font-weight: 600;
		font-family: 'Open Sans',sans-serif;
	}
	h3 {
		color: #707685;
		font-size: 15px;
		font-weight: 200;
		font-family: 'Open Sans',sans-serif;
		line-height: 1.5em;
	}
	.thumbnail {
		padding: 7px 10px 7px 10px;
		border: none;
		margin-right: -10px;
		margin-left: -10px;
		border-right: 1px solid #eaecf1;
		height: 180px;
		border-radius: 0px;
	}
	.final {
		border-right: none;
	}
}

.action {
	height: 400px;
	background-image: url('https://dl.dropboxusercontent.com/s/cz2mhr0wamsprob/coffeeshop.jpg');
	background-position: center left;
	background-repeat: no-repeat;
	padding-top: 6rem;
	h2 {
		color: #fff;
		text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
		font-weight: 200;
		font-family: 'Open Sans',sans-serif;
		font-size: 33px;
	}
	.btn-default {
		background-color: #3d6f3c;
		border: none;
		color: #fff;
		font-size: 22px;
		padding: 12px 90px;
		margin-right: 3rem;
		font-family: 'Open Sans',sans-serif;
		font-weight: 200;
		margin-top: 60px;
		border-radius: 2px;
/*		background-color: #2e4051;
*/	}
}

.updates {
	h1 {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 400;
		font-family: 'Open Sans',sans-serif;
	}
}

//other pages


 .faq {
 	background-color: #fdfdfb;
 	.section-header {
 		margin-bottom: 4rem;
	 	h1 {
	 		color: #48505e;
			font-size: 33px;
			font-weight: 200;
			font-family: 'Open Sans',sans-serif;
			margin-bottom: 3rem;
	 	}
	 }
	 .btn-xs {
		position: right;
		font-size: 17px;
		padding: 5px 20px;
		color: #fff;
		font-weight: 200;
		border: none;
	}
	.a {
		background-color: #70a885;
		font-family: 'Open Sans',sans-serif;
	}
	.a:hover {
		background-color: #649777;
	}
	.right a {
		font-size: 18px;
		font-weight: 200;
		font-family: 'Open Sans',sans-serif;
		line-height: 1.5em;
		text-decoration: none;
		position: relative;
		float: right;
	}
	.glyphicon-arrow-right {
		position: relative;
		float: right;
		padding-top: 4px;
		padding-left: 1rem;
	}
 }

.faqbody {
	margin-bottom: 7rem;
	p, li {
 		font-weight: 200;
		font-family: 'Open Sans',sans-serif;
		font-size: 15px;
 	}
}

.faq .panel-default > .panel-heading {
	border-bottom: solid 1px #e5e5e5;
	background-color: #fdfdfb;
}

.faq .panel {
	background-color: #fff;
}

.faq .panel-group .panel-default {
	border-radius: 0px;
	border: none;
}

.faq .panel-title {
	color: #707685;
	font-weight: 300;
	font-family: 'Open Sans',sans-serif;
	font-size: 17px;
}

.faq .panel-title a {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}

.faq .panel-title a:hover {
	background-color: none;
	padding-left: 30px;
	text-decoration: none;
}

.testimonial {
/*	background-color: #fdfdfb;
*/	h1 {
		color: #48505e;
		font-size: 33px;
		font-weight: 200;
		font-family: 'Open Sans',sans-serif;
		margin-bottom: 40px;
	}

	.user {
		border-top: 1px solid #b8c2ad;
		padding: 10px 0px;
		h2 {
			font-size: 18px;
			font-weight: 400;
			text-align: right;
			padding-right: 80px;
			font-family: 'Open Sans',sans-serif;
			color: #707685;
		}
		p, li {
			font-size: 18px;
			font-weight: 200;
			color: #48505e;
			font-family: 'Open Sans',sans-serif;
			line-height: 1.5em;
		}
	}
	.btn-default {
		background-color: #70a885;
		border: none;
		color: #fff;
		font-size: 18px;
		padding: 7px 20px;
		margin-right: 3rem;
		font-family: 'Open Sans',sans-serif;
		font-weight: 200;
	}
}

.thanks {
	.box {
		margin: 100px 200px;
		padding: 60px;
		border-radius: 10px;
		border: 1px solid #e5e5e5;
		h3 {
			margin-bottom: 35px;
			font-weight: 200;
			color: #48505e;
			font-family: 'Open Sans',sans-serif;
		}
		h4 {
			margin-bottom: 40px;
			font-weight: 200;
			color: #707685;
			font-family: 'Open Sans',sans-serif;
			line-height: 1.5em;
		}
		.btn-primary {
			background-color: #70a885;
			border: none;
			font-size: 18px;
			font-weight: 200;
			font-family: 'Open Sans',sans-serif;
		}
		.btn-primary:hover {
			background-color: #8cb99d;
		}
	}
}

.aboutus {
	background-color: #253341;
	padding-bottom: 9rem;
	font-family: 'Open Sans',sans-serif;
	h2 {
		padding-bottom: 1.5rem;
		color: #e5ecf8;
		font-size: 23px;
		font-family: 'Open Sans',sans-serif;
		border-bottom: 1px solid #7b8f9d;
		font-weight: 600;
	}
	h4 {
		margin: 7px 0px 4px 0px;
		color: #b7caec;
	}
	h5 {
		color: #e5ecf8;
		margin: 0px 0px 5px;
	}
	p {
		color: #e5ecf8;
		font-size: 18px;
	}
	a {
		text-decoration: none;
	}
	.learning-bites {
		margin-bottom: 50px;
		 h3 {
			color: #48505e;
			font-size: 18px;
			font-weight: 600;
			line-height: 25px;
			margin: 0px;
			padding: 10px 0px;
		}
		.col-md-6 {
			padding-left: 0px;
			.thumbnail {
				background-color: #f4f7fc;
			}
			img {
				margin-top: 1rem;
			}
		}
	}
	.col-md-2 {
		padding: 0px;
		margin: 0px;
		ul {
			list-style-type: none;
			li {
				color: #f7b410;
				font-size: 20px;
				line-height: 19px;
				padding: 25px 0px;
				.number {
					font-size: 50px;
				}
			}
		}
	}
	.message {
		padding-bottom: 10px;
	}
	.bio-main {
		padding-bottom: 50px;
	}
	.details {
		padding-left: 4rem;
		p {
			font-size: 16px;
		}
	}
}

.stories {
	h1 {
		color: #48505e;
		font-size: 33px;
		font-weight: 200;
		font-family: 'Open Sans',sans-serif;
		margin-top: 0px;
	}
	img {
		margin-bottom: 70px;
		border: 1px solid #e7e7e7;
	}
	header {
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 2rem;
	}
	.story1 {
		padding: 2rem 5rem;
		border-radius: 5px;
		margin: 3rem 0rem 0rem;
		p {
			font-size: 19px;
			font-weight: 300;
			font-family: 'Open Sans',sans-serif;
			color: #48505e;
			line-height: 1.7em;
			margin-bottom: 25px;
		}
	}
	.row {
		margin-bottom: 5rem;
	}
	li {
		list-style-type: none;
		font-size: 16px;
		font-weight: 200;
		font-family: 'Open Sans',sans-serif;
		color: #707685;
		margin-bottom: 10px;
		.category {
			font-weight: 400;
			font-size: 18px;
		}
	}
	.btn-link {
		position: relative;
		float: right;
		text-decoration: none;
		padding-bottom: 30px;
	}
}

.pricing-tier {
	background-color: #253341;
	h2 {
		font-family: 'Open Sans',sans-serif;
		color: #e5ecf8;
		font-size: 33px;
		font-weight: 200;
	}
	h3 {
		font-family: 'Open Sans',sans-serif;
		color: #48505e;
		font-size: 24px;
	}
	h4 {
		font-size: 18px;
		font-family: 'Open Sans',sans-serif;
		color: #e5ecf8;
			a {
				color: #e5ecf8;
				text-decoration: underline;
		}
	}
	li {
		font-family: 'Open Sans',sans-serif;
		font-size: 17px;
	}

	.check {
		list-style-image: url('https://dl.dropboxusercontent.com/s/ly1407fah0viibt/checkmark.png');
		list-style-position: inside;
		font-size: 12px;
		line-height: 1.5;
	}
	.thumbnail {
		background-color: #f4f7fc;
		border-color: #e9e9e9;
		border-radius: 5px;
		height: 350px;
		margin-top: 30px;
	}
	.a {
		margin-top: 40px;
		border: none;
		background-color: #009303;
		padding: 10px 30px;
	}
	.a:hover {
		background-color: #32a835;
	}
	.b {
		margin-top: 103px;
		border: none;
		background-color: #009303;
		padding: 10px 30px;
	}
	.b:hover {
		background-color: #32a835;
	}
}

.membershipfaq {
	background-color: #fff;
	padding: 60px 10px 100px 10px;
	h2 {
		margin-bottom: 30px;
		color: #48505e;
	}
	h3 {
		font-family: 'Open Sans',sans-serif;
		color: #48505e;
		font-size: 22px;
		font-weight: 500;
		margin-top: 50px;
	}
	h4 {
		font-family: 'Open Sans',sans-serif;
		color: #5b5b5b;
		font-size: 16px;
		line-height: 1.6;
	}
	.col-md-6 {
		padding: 0px 30px;
	}
}

.library {
	font-family: 'Open Sans',sans-serif;
	background-color: #f9f9f9;
	h2 {
		color: #333;
		font-size: 30px;
		margin-top: 10px;
		font-weight: 300;
		margin-bottom: 1em;
		font-family: 'Open Sans',sans-serif;
	}
	.well {
		background-color: #fcfcfc;
	}
	.well-topper {
		background: #ccc;
		border-bottom: 1px solid #EEE;
		padding: 10px 10px 10px;
		margin-left: -19px;
		margin-right: -19px;
		margin-top: -19px;
		font-weight: 400;
		letter-spacing: 1px;
		color: #555;
		font-size: 1.3em;
		text-transform: uppercase;
		line-height: 1.6;
	}
	.course-summary {
		padding: 15px 0px;
	}
	.chapter-header {
		color: #444;
		margin: 0 0 30px;
		border-bottom: 1px solid #ddd;
		height: 1px;
		h3 {
			font-size: 1em;
			letter-spacing: 1px;
			margin-top: -0.6em;
			padding-right: 5px;
			text-transform: uppercase;
			background-color: #fcfcfc;
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: middle;
			zoom: 1;
			font-weight: 200;
		}
	}
	.chapter-item {
		list-style-type: none;
		border-bottom: 1px solid #eee;
		margin-top: 5px;
		h4 {
			color: #444;
			margin-bottom: 0;
			font-family: 'Open Sans',sans-serif;
			font-size: 14px;
			line-height: 20px;
			font-weight: bold;
		}
		.btn-default {
			margin-top: 25px;
			font-weight: 400;
			padding: 10px 15px;
			background: rgba(0,0,0,0.3);
			color: white !important;
			line-height: 1 !important;
			font-size: 12.5px !important;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			white-space: nowrap;
			text-transform: uppercase;
			border: 0;
			cursor: pointer;
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: middle;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
			text-shadow: none;
		}
	}
}

.modules {
	font-family: 'Open Sans',sans-serif;
	background-color: #fff;
	.well {
		padding: 19px;
		margin-bottom: 20px;
		background-color: #fcfcfc;
	}
	.well-topper {
		background: #ccc;
		border-bottom: 1px solid #EEE;
		padding: 10px 10px 10px;
		margin-left: -19px;
		margin-right: -19px;
		margin-top: -19px;
		font-weight: 400;
		letter-spacing: 1px;
		color: #555;
		font-size: 1em;
		text-transform: uppercase;
		line-height: 1.5;
		a {
			color: #555;
		}
		.icon-chevron-right:before {
			content: "\f054";
			text-decoration: inherit;
			display: inline-block;
			speak: none;
		}
		.icon-chevron-right {
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			text-decoration: inherit;
			-webkit-font-smoothing: antialiased;
			display: inline;
			width: auto;
			height: auto;
			line-height: normal;
			vertical-align: baseline;
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			margin-top: 0;
		}
	}
	.module-header {
		color: #444;
		margin-top: 20px;
		.icon-th-large:before {
			content: "\f009";
			text-decoration: inherit;
			display: inline-block;
			speak: none;
		}
		.icon-th-large {
			margin-top: 10px;
			font-size: 4em;
			float: left;
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			text-decoration: inherit;
			-webkit-font-smoothing: antialiased;
			display: inline;
			line-height: normal;
			vertical-align: baseline;
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
		}
		h4, p {
			margin-left: 65px;
		}
		h4 {
			font-weight: 200;
		}
	}
	.module-content {
		.module-item-list {
			list-style: none;
		}
		.module-item {
			list-style-type: none;
			border-bottom: 1px solid #eee;
			margin-top: 5px;
			line-height: 20px;
		}
		.icon-play-circle:before {
			content: "\f01d";
		}
		.icon-play-circle {
			color: #ccc;
			margin-top: 25px;
			font-size: 4em;
			float: right;
			margin-right: 20px;
			display: inline-block;
			width: 1.25em;
			text-align: center;
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			text-decoration: inherit;
			-webkit-font-smoothing: antialiased;
			display: inline;
			line-height: normal;
			vertical-align: baseline;
			background-image: none;
			background-position: 0 0;
			background-repeat: repeat;
			text-decoration: none;
		}
		.icon-play-circle:hover {
			color: darkorange;
		}
		h5 {
			font-weight: bold;
			font-size: 16px;
		}
	}
}


//responsive design

@media only screen and (min-width : 320px) and (max-width : 640px) {
	.projects {
		height: 100%;
		.marketplaceproject {
			.btn-success {
				display: none;
			}
			.btn-default {
				margin-right: 0rem;
			}
		}
		.section-header {
			margin-top: 20px;
			margin-bottom: 20px !important;
		}
	}
	.info header {
		padding: 0px;
	}
	#step1 {
		h2 {
			width: 100% !important;
		}
		a {
			padding-left: 0px !important;
		}
		padding: 0px !important;
		height: 100%;
		.container {
			width: auto;
		}
		.demovideo {
			display: none;
		}
	}
	#step2 {
		padding: 0px !important;
		height: 100%;
		img {
			display: none;
		}
		h2 {
			width: 100% !important;
		}
		a {
			padding-left: 0px !important;
		}
	}
	#step3 {
		padding: 0px !important;
		height: 100%;
		.thumbnail {
			display: none;
		}
		h2 {
			width: 100% !important;
		}
		a {
			padding-left: 0px !important;
		}
	}
	.trust {
		display: none;
	}
	.difference {
		.features {
			margin-bottom: 20px;
		}
	}
	footer {
		height: 250px;
		a {
			display:block;
			margin: 0 auto;
		}
		.social {
			display: none;
		}
	}
}

//Courses

.courseheader {
	padding: 3rem 0rem;
	background-color: #253341;
	h2 {
		font-size: 20px;
		text-decoration: underline;
		margin-bottom: 25px;
		color: #b7caec;
	}
	li {
		font-size: 17px;
		margin-bottom: 5px;
		color: #e5ecf8;
	}
	ul {
		margin-left: 0px;
		padding: 0px 15px;
		list-style: circle;
	}
	.title {
		margin-bottom: 15px;
		.courseicon {
			display: inline-block;
			vertical-align: middle;
			margin-right: 30px;
			height: 100%;
		}
		.course-description {
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			h1 {
				font-weight: 600;
				font-size: 35px;
				color: #e5ecf8;
			}
			p {
				font-size: 20px;
				color: #e5ecf8;
				font-weight: 200;
			}
		}
	}
	#multicolumn {
		li {
		 	list-style-position: inside;
		}
		ul {
			margin-left: 0px;
			padding: 0px;
			list-style: circle;
		}
	    -moz-column-count: 2;
	    -moz-column-gap: 5px;
	    -webkit-column-count: 2;
	    -webkit-column-gap: 5px;
	    column-count: 2;
	    column-gap: 5px;
	}
	.col-md-4 {
		margin-left: 138px;
	}
	.thumbnail {
		border: none;
		border-right: 1px solid #7b8f9d;
		border-radius: 0px;
		padding: 0px 10px;
		height: 180px;
		background-color: #253341;

	}
	.last {
		border-right: none;
	}
}


.syllabus {
	background-color: #f4f7fc;
	padding: 2rem 0rem;
	.well {
		background-color: #fff;
		border: none;
	}
	.well-topper {
		background-color: #7b8f9d;
		border-bottom: 1px solid #EEE;
		padding: 10px 10px 10px;
		margin-left: -19px;
		margin-right: -19px;
		margin-top: -19px;
		font-weight: 400;
		letter-spacing: 1px;
		color: #e5ecf8;
		font-size: 1.3em;
		text-transform: uppercase;
		line-height: 1.6;
	}
	.course-summary {
		padding: 15px 0px;
	}
	.chapter-header {
		color: #444;
		margin: 0 0 30px;
		border-bottom: 1px solid #ddd;
		height: 1px;
		h3 {
			font-size: 1em;
			letter-spacing: 1px;
			margin-top: -0.6em;
			padding-right: 5px;
			text-transform: uppercase;
			background-color: #fff;
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: middle;
			zoom: 1;
			font-weight: 200;
		}
	}
	.syllabus-details {
		h2 {
			padding-bottom: 5px;
			color: #444;
			font-size: 16px;
			line-height: 20px;
			font-weight: bold;
			margin: 0px;
		}
		h3 {
			font-size: 14px;
			margin: 0px;
			text-decoration: none;
			line-height: 1.3;
		}
		.panel {
			box-shadow: none;
		}
		.panel-group {
			padding-left: 20px;
		}
		.panel-default {
			border: none;
			background-color: #fff;
			border-radius: 0px;
			border-bottom: 1px solid #eee;
			.panel-heading {
				background-color: #fff;
				border: none;
				.panel-title {
					border: none;
					.btn-sm {
						margin-top: 25%;
						border: 1px solid #cecece ;
					}
					.btn-sm:hover {
						background-color: #f4f7fc;
					}
					a {
						display: block;
					}
				 	a:hover {
						text-decoration: none;
					}
				}
			}
			.panel-heading:hover {
				h2 {
					color: #7b8f9d;
				}
			}
			ul {
				    list-style-type: none;
			}
			li {
				background: url('https://dl.dropboxusercontent.com/s/wrsjch2ih5vthu1/play_button.png') no-repeat;
		  	line-height: 50px;
		  	vertical-align: top;
		  	padding-left: 60px;
		  	padding-bottom: 15px;
			}
			.panel-body {
				h4 {
					font-size: 16px;
					font-weight: 600;
					margin: 0px;
					margin-bottom: 4px;

				}
				p {
					margin: 0px;
					line-height: 20px;
				}
			}
		}
	}
}

.coursedemo {
	background-color: #7b8f9d;
	padding-bottom: 5rem;
	color: #fff;
	.thumbnail {
		border: none;
	}
	.demoscreenshot:hover {
		.thumbnail {
			box-shadow: 5px 5px 7px #e5e5e5;
		}
	}
	h1 {
		margin-bottom: 5rem;
		font-size: 33px;
	}
	.demo-description {
		width: 85%;
		margin: 0 auto;
		h2 {
			font-size: 19px;
			font-weight: 600;
			line-height: 1.5em;
		}
		.btn-primary {
			margin-top: 20px;
		}
	}
}

.feature-library {
	background-color: #fff;
	padding: 3rem 0rem 7rem;
	h1 {
		color: #48505e;
		font-size: 30px;
		font-weight: 200;
		font-family: 'Open Sans',sans-serif;
		padding-top: 4rem;
	}
	h2 {
		color: #707685;
		font-size: 17px;
		font-weight: 200;
		font-family: 'Open Sans',sans-serif;
		width: 450px;
		line-height: 1.5em;
		margin-bottom: 3rem;
	}
	.btn-primary {
		margin-left: 10rem;
	}
	.thumbnail {
		border: none;
	}
	.thumbnail > img, .thumbnail a > img {
		margin-top: 5rem;
	}
}

.project-showcase {
		background-color: #7b8f9d;
		padding: 2rem 0rem 5rem;
	h1 {
		margin-bottom: 7rem;
		font-size: 33px;
		color: #fff;
	}
}

.action2 {
	background-color: #f4f7fc;
	padding-bottom: 5rem;
	h1 {
		font-size: 30px;
		margin-bottom: 3rem;
	}
	p {
		width: 95%;
		line-height: 25px;
		font-size: 17px;
		padding: 10px 0px;
		font-style: italic;
	}
	#quote2 {
		margin-left: 13rem;
	}
	.btn-success {
		margin-top: 3rem;
		padding: 10px 40px;
	}
}
