// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questions.index {
	.description-body {
		margin: 20px auto;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		padding: 10px 70px;
		width: 90%;
		p {
			font-size: 17px;
			font-family: 'Open Sans',sans-serif;
			font-weight: 200;
		}
		h3 {
			margin-top: 10px;
			font-family: 'Open Sans',sans-serif;
		}
	}
	.question-each {
		margin-bottom: 25px;
	}
	#time {
		color: #ff9000;
	}
	#replies {
		color: #428bca;
		border: 1px solid #428bca;
		padding: 0 3px;
		margin-left: 7px;
	}
	.questions {
		padding-bottom: 7rem;
	}
	.col-md-10 {
		h4 {
			margin-bottom: 5px;
			a {
				color: #2e618d;
/*				color: #48505e;
*/				font-size: 20px;
				font-weight: 500;
			}
		}
	}
	.newq {
		position: relative;
		float: right;
		a {
			color: #fff;
			text-decoration: none;
		}
	}
}


.single-question {
	h3 {
		color: #48505e;
		font-size: 28px;
		font-weight: 400;
		font-family: 'Open Sans',sans-serif;
	}
	h4 {
		font-size: 20px;
		font-weight: 200;
		color: #707685;
		line-height: 1.2em;
		font-family: 'Open Sans',sans-serif;
	}
	h5 {
		font-family: 'Open Sans',sans-serif;
	}
	#name {
		color: #428bca;
	}
	#admin {
		color: #ffae19;
		font-weight: 600;
	}
	.comment {
		margin: 10px 0px;
		small {
			color: #707685;
		}
		p {
			font-size: 18px;
			font-family: 'Open Sans',sans-serif;
			color: #707685;
		}
		.reply-link {
			font-size: 15px;
		}
		.col-md-1 {
			padding: 2px 5px;
			width: 5%;
			background-color: #f0f0f0;
			text-align: center;
			border-radius: 5px;
			.glyphicon-chevron-up {
				font-size: 12px;
				opacity: 0.75;
			}
			.glyphicon-chevron-down {
				font-size: 12px;
				color: #bdbdbd;
			}
		}
		border-top: 1px solid #e5e5e5;
	}
	.comment-form {
		h4 {
			color: #333;
		}
	}
	.newq {
		position: relative;
		float: right;
		margin: 20px 0px;
		a {
			color: #fff;
			text-decoration: none;
		}
	}
	.btn-default {
		// margin: 20px 0px 50px 220px;
	}
	.row {
		margin-top: 0px !important;
	}
	.btn-primary {
		margin-left: 0px !important;
	}
	.response {
		margin-left: 20px;
	}
}

.questions.new {
	.btn-primary {
		margin-top: 4rem;
	}
	h1 {
		font-family: 'Open Sans',sans-serif;
		color: #48505e;
		font-weight: 200;
		margin-bottom: 2rem;
	}
	ol {
		margin-bottom: 25px;
	}
	li {
		font-weight: 200;
	}
}
