.registrations .subscribe {
	font-family: 'open sans';
	.panel-body {
		padding: 20px 30px;
	}
	h2 {
		font-family: 'open sans';
	}
	h3 {
		font-family: 'open sans';
	}
	p {
		font-size: 20px;
	}
	h4 {
		margin-top: 50px;
		font-family: 'open sans';
	}
	.form-group {
		margin-top: 40px;
		font-size: 22px;
		background-color: whitesmoke;
		padding: 20px;
		h3 {
			display: inline-block;
			font-size: 28px;
			margin-bottom: 30px;
			line-height: 0.8;
		}
		#jargon {
			font-size: 15px;
		}
		img {
			vertical-align: 50%;			
		}
		#credit {
			vertical-align: text-bottom;
		}
		label {
			font-family: 'open sans';
			font-weight: 600;
		}
		input {
			margin-right: 40px;
		}
	}
}

.registration_new {
	h3 {
		display: inline-block;
		font-size: 28px;
		margin-bottom: 30px;
		font-family: 'open sans';
		line-height: 0.8;
	}
	#jargon {
		font-size: 15px;
	}
	img {
		vertical-align: 70%;			
	}
	#credit {
		vertical-align: text-bottom;
	}
	label {
		font-family: 'open sans';
	}
	.input-sm {
		margin-bottom: 10px;
	}
	#stripe_form {
		background-color: whitesmoke;
		padding: 15px;
		border-radius: 5px;
	}
}