<section class="subscribe">
  <div class="max-width has-padding">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Manage your subscription</h2>
      </div>

      <div class="panel-body">

        <% if current_user.customer_id.present? %>
          <%= render 'existing_subscriber' %>
        <% else %>
          <%= render 'legacy_user' %>
        <% end %>

      </div>
    </div>
  </div>
</section>